@model NBD3.Models.Bid

@{
	ViewData["Title"] = "Details";
}

<h1>Bid Edit Details</h1>


<div class="row">
	<div class="col-md-3 p-3 my-4 bg-dark rounded-3">
		<div>
			<dd class="text-lg-center text-bg-info text-uppercase">
				<H3>@Html.DisplayFor(model => model.Project.ProjectName)</h3>
			</dd>
		</div>
			
		<h4 class="table-dark text-center">
			<strong>Bid Total: @((Model.LabourDetails.Sum(lt => lt.Labour.LabourPriceHour * lt.Quantity) + @Model.MaterialDetails.Sum(mt => mt.Inventory.InventoryPriceList * mt.Quantity)).ToString("C"))</strong>
		</h4>
		<h6 class="text-center">
			Labour: @(Model.LabourDetails.Sum(lt => lt.Labour.LabourPriceHour * lt.Quantity).ToString("C")) <br /> Material: @(Model.MaterialDetails.Sum(mt => mt.Inventory.InventoryPriceList * mt.Quantity).ToString("C"))
		</h6>
		<h5 class="text-center">
			<strong>Difference: @(((Model.LabourDetails.Sum(lt => lt.Labour.LabourPriceHour * lt.Quantity) + @Model.MaterialDetails.Sum(mt => mt.Inventory.InventoryPriceList * mt.Quantity)) - Model.BidAmount).ToString("C"))</strong>
			<!--<strong>Bid Cost: @((Model.LabourDetails.Sum(lt => lt.Labour.LabourCostHour * lt.Quantity) + @Model.MaterialDetails.Sum(mt => mt.Inventory.InventoryPriceList * mt.Quantity)).ToString("C"))</strong>-->
		</h5>


		<!-- Details Section -->

		<div class="form-group text-left">
			<div class="card">
				<h4 class="card-header">Details</h4>
				<div class="card-body">
					<div class="row table-dark">
						<div class="col-sm-6">
							<dt>
								@Html.DisplayNameFor(model => model.BidAmount)
							</dt>
						</div>
						<div class="col-sm-6">
							<dd><h5>
								@Html.DisplayFor(model => model.BidAmount)
							</h5></dd>
						</div>
					</div>
					<div class="row table-dark">
						<div class="col-sm-6">
							<dt>
								@Html.DisplayNameFor(model => model.BidDate)
							</dt>
						</div>
						<div class="col-sm-6">
							<dd>
								@Html.DisplayFor(model => model.BidDate)
							</dd>
						</div>
					</div>
					<div class="row table-dark">
						<div class="col-sm-8">
							<dt>
								@Html.DisplayNameFor(model => model.BidApprove)
							</dt>
						</div>
						<div class="col-sm-2">
							<dd>
								@Html.DisplayFor(model => model.BidApprove)
							</dd>
						</div>
					</div>
					<div class="row table-dark">
						<div class="col-sm-8">
							<dt>
								@Html.DisplayNameFor(model => model.BidApproveClient)
							</dt>
						</div>
						<div class="col-sm-2">
							<dd>
								@Html.DisplayFor(model => model.BidApproveClient)
							</dd>
						</div>
					</div>
				</div>
				<div>
					<div class="text-lg-center">
						<a asp-action="Index" class="btn btn-success">Back to List</a>
						<hr/>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!--Labour section-->
	
	<div class="col-md-7">
		<div id="accordion">
		<div class="card col-sm-4 form-group">
			<a asp-action="Edit" asp-route-id="@Model.BidId" class="btn btn-lg btn-warning">Go to Approve   &#9755;</a>
		</div>
		<div class="form-group">
			<div class="card">
				<h4 class="card-header">Labour</h4>
				<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#labours"> Labours &#10148; @Model.LabourDetails.Sum(cd => cd.Labour.LabourPriceHour * cd.Quantity).ToString("C")</button>
					<div id="labours" class="collapse show">
						<div class="card-body" >
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr class="table-dark">
									<th>Labour</th>
									<th class="text-center">Price hour</th>
									<th class="text-center">Quantity</th>
									<th class="text-center">Extended Price</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var labourDetail in Model.LabourDetails)
								{
									<tr class="table-dark">
										<td>@labourDetail.Labour.LabourType</td>
										<td class="text-center">@labourDetail.Labour.LabourPriceHour</td>
										<td class="text-center">@labourDetail.Quantity</td>
										<td class="text-center">@(labourDetail.Labour.LabourPriceHour * labourDetail.Quantity)</td>
										<td>
											<form asp-action="DeleteLabour" method="post" onsubmit="return confirm('Are you sure you want to remove this Material?');">
												<input type="hidden" name="bidId" value="@Model.BidId" />
												<input type="hidden" name="labourId" value="@labourDetail.LabourID" />
												<button type="submit" class="btn btn-warning form-text btn-sm">Remove</button>
											</form>
										</td>
									</tr>
								}
								<tr class="table-dark">
									<td><strong>Labour Total</strong></td>
									<td></td>
									<td class="text-center">@Model.LabourDetails.Sum(cd => cd.Quantity)</td>
									<td class="text-center">@Model.LabourDetails.Sum(cd => cd.Labour.LabourPriceHour * cd.Quantity).ToString("C")</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr />
					<form asp-action="AddLabour" method="post">
						<div class="row">
							<div class="col-md-4">
								<label>Labour List</label>
								<input type="hidden" name="bidId" value="@Model.BidId" class="form-control" />
								<select id="labourSelect" name="labourId" class="form-control">
									<option value="">Select a Labour</option>
									@foreach (var labour in ViewBag.Labours as IEnumerable<Labour>)
									{
										<option value="@labour.LabourID">@labour.LabourType</option>
									}
								</select>
							</div>
							<div class="col-md-2">
								<label>Quantity</label>
								<input type="number" value="1" name="quantity" min="1" max="100" class="form-control" placeholder="Enter Quantity or default 1" />
							</div>
							<div class="col-md-2">
								<button id="addLabourBtn" disabled type="submit" class="btn btn-success">Add</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			</div>
		</div>




		<!--Materials section-->

		<div class="form-group">
			<div class="card">
				<h4 class="card-header">Material</h4>
				<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#materials"> Materials &#10148; @Model.MaterialDetails.Sum(cd => cd.Quantity * cd.Inventory.InventoryPriceList).ToString("C")</button>
				<div class="card-body">
					<div id="materials" class="collapse show">
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr class="table-dark">
									<th>Code</th>
									<th class="text-center">InventoryUnitType</th>
									<th class="text-center">Quantity</th>
									<th class="text-center">Unit Price</th>
									<th class="text-center">Extended Price</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var materialDetail in Model.MaterialDetails)
								{
									<tr class="table-dark">
										<td>@materialDetail.Inventory.InventoryCode</td>
										<td class="text-center">@materialDetail.Inventory.InventoryUnitType</td>
										<td class="text-center">@materialDetail.Quantity</td>
										<td class="text-center">@(materialDetail.Inventory.InventoryPriceList)</td>
										<td class="text-center">@(materialDetail.Inventory.InventoryPriceList * materialDetail.Quantity)</td>
										<td>
											<form asp-action="DeleteMaterial" method="post" onsubmit="return confirm('Are you sure you want to remove this Material?');">
												<input type="hidden" name="bidId" value="@Model.BidId" />
												<input type="hidden" name="materialId" value="@materialDetail.InventoryID" />
												<button type="submit" class="btn btn-warning form-text btn-sm">Remove</button>
											</form>
										</td>
									</tr>
								}
								<tr class="table-dark">
									<td><strong>Material Total</strong></td>
									<td></td>
									<td class="text-center"><strong>@Model.MaterialDetails.Sum(cd => cd.Quantity)</strong></td>
									<td></td>
									<td class="text-center"><strong>@Model.MaterialDetails.Sum(cd => cd.Quantity * cd.Inventory.InventoryPriceList).ToString("C")</strong></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr />
					<form asp-action="AddMaterial" method="post">
						<div class="row">
							<div class="col-md-4">
								<label>Material List</label>
								<input type="hidden" name="bidId" value="@Model.BidId" class="form-control" />
								<select id="materialSelect" name="inventoryId" class="form-control" >
									<option value="">Select a Material</option>
									@foreach (var inventory in ViewBag.Materials as IEnumerable<Inventory>)
									{
										<option value="@inventory.InventoryID">@inventory.InventoryCode</option>
									}
								</select>
							</div>
							<div class="col-md-2">
								<label>Quantity</label>
								<input type="number" value="1" name="quantity" min="1" max="100" class="form-control" placeholder="Enter Quantity or default 1" />
							</div>
							<div class="col-md-2">
								<button id="addMaterialBtn" disabled type="submit" class="btn btn-success">Add</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
		

		<div class="form-group">
			<div class="card">
				<h4 class="card-header">Staff</h4>
				<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#staffs"> Staff &#10148; @Model.StaffDetails.Count()</button>
				<div id="staffs" class="collapse show">
				<div class="card-body">
					<!--Staff secction-->
					<div>
						<div class="table-responsive">
							<table class="table table-sm">
								<thead>
									<tr class="table-dark">
										<th>Name</th>
										<th>Title</th>
										<th>Phone</th>
										<th>email</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var staffDetail in Model.StaffDetails)
									{
										<tr class="table-dark">
											<td>@staffDetail.Staff.StaffFormalName</td>
											<td>@staffDetail.Staff.StaffTitle</td>
											<td>@staffDetail.Staff.StaffPhoneFormat</td>
											<td>@staffDetail.Staff.StaffEmail</td>
											<td>
												<form asp-action="DeleteStaff" method="post" onsubmit="return confirm('Are you sure you want to remove this Staff?');">
													<input type="hidden" name="bidId" value="@Model.BidId" />
													<input type="hidden" name="staffId" value="@staffDetail.StaffID" />
													<button type="submit" class="btn btn-warning form-text btn-sm">Remove</button>
												</form>
											</td>
										</tr>
									}
									<tr class="table-dark">
										<td><strong>Staff Total</strong></td>
										<td></td>
										<td class="text-center">@Model.StaffDetails.Count()</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<hr />
						<form asp-action="AddStaff" method="post">
							<div class="row">
								<div class="col-md-4">
									<label>Staff List</label>
									<input type="hidden" name="bidId" value="@Model.BidId" />
									<select id="staffSelect" name="staffId" class="form-control">
										<option value="">Select a Staff</option>
										@foreach (var staff in ViewBag.Staffs as IEnumerable<Staff>)
										{
											<option value="@staff.StaffID">@staff.StaffFormalName</option>
										}
									</select>
								</div>
								<div class="col-md-4">
									<button id="addStaffBtn" disabled type="submit" class="btn btn-success">Add</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>



@section Scripts {

	<script>
		var optionSelecStaff = document.getElementById('staffSelect');
		var addStaffBtn = document.getElementById('addStaffBtn');

				optionSelecStaff.addEventListener('change', function () {
			addStaffBtn.disabled = !optionSelecStaff.value;
		});
	</script>

		<script>
		var optionSelecMaterial = document.getElementById('materialSelect');
		var addMaterialBtn = document.getElementById('addMaterialBtn');

				optionSelecMaterial.addEventListener('change', function () {
			addMaterialBtn.disabled = !optionSelecMaterial.value;
		});
	</script>

	 <script>
			var optionSelecLabour = document.getElementById('labourSelect');
		var addLabourBtn = document.getElementById('addLabourBtn');

		optionSelecLabour.addEventListener('change', function () {
		   addLabourBtn.disabled = !optionSelecLabour.value;
		});
	</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

}

