@model PaginatedList<NBD3.Models.Staff>

@{
    ViewData["Title"] = "Index";
}
<div class="mt-4 mb-4">
    <h1>Staff</h1>
</div>

<div class="container mt-2">
    <div class="row justify-content-end">
        <div class="col-auto mb-2">
            <a asp-action="Create" class="btn btn-xs btn-outline-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Create">Create New</a>
        </div>
        <div class="col-0"></div>
    </div>
</div>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Filter/Search @ViewData["numberFilters"]
            </button>
        </div>
    </div>

    <div class="row collapse" id="collapseFilter">
        <div class="col-md-6">
            <label for="firstNameSearch">First Name:</label>
            <input type="text" id="firstNameSearch" name="firstNameSearch" class="form-control" value="@ViewData["firstNameSearch"]" />
        </div>

        <div class="col-md-6">
            <label for="lastNameSearch">Last Name:</label>
            <input type="text" id="lastNameSearch" name="lastNameSearch" class="form-control" value="@ViewData["lastNameSearch"]" />
        </div>
        <div class="col-md-6">
            <label for="titleSearch">Title:</label>
            <select id="titleSearch" name="titleSearch" class="form-control">
                <option value="">Select Title</option>
                @if (ViewData["titles"] is List<string> titles && titles.Any())
                {
                    foreach (var title in titles)
                    {
                        <option value="@title">@title</option>
                    }
                }
            </select>
        </div>

        <div class="col-md-12 mt-2">
            <button type="submit" class="btn btn-primary">Filter</button>
            <button type="button" class="btn btn-secondary ml-2" onclick="clearFilters()">Clear Filters</button>
        </div>
    </div>

</form>



<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                <a asp-action="Index" asp-route-sortField="StaffTitle" asp-route-sortDirection="asc">Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortField="StaffFirstName" asp-route-sortDirection="asc">First Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortField="StaffLastname" asp-route-sortDirection="asc">Last Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortField="StaffPhone" asp-route-sortDirection="asc">Phone</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortField="StaffEmail" asp-route-sortDirection="asc">Email</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.StaffTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffLastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffEmail)
                </td>
                <td class="text-center" style="padding:5px;">
                    <a asp-action="Edit" asp-route-id="@item.StaffID" class="btn btn-xs btn-outline-primary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" style="font-size: 14px;">&#x270E;</a>
                    <a asp-action="Details" asp-route-id="@item.StaffID" class="btn btn-xs btn-outline-primary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Details" style="font-size: 14px;">&#x1F50E;</a>
                    <a asp-action="Delete" asp-route-id="@item.StaffID" class="btn btn-xs btn-outline-primary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" style="font-size: 14px;">&#x274C;</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" aria-label="Previous" asp-action="Index" asp-route-page="1">First</a>
            </li>
            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" aria-label="Previous" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" aria-label="Next" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)">Next</a>
            </li>
            <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" aria-label="Next" asp-action="Index" asp-route-page="@Model.TotalPages">Last</a>
            </li>
        </ul>
    </nav>
</div>

<script>
    function clearFilters() {
        document.getElementById("firstNameSearch").value = "";
        document.getElementById("lastNameSearch").value = "";
        document.getElementById("titleSearch").value = ""; 
    }
</script>

